@media(min-width: 980px) {
  .article{
    margin-left: 220px;
    display: inline-block;
    width: calc(80% - 270px);    
  }
  .rightMenu{
    background-color: #bcbdbd26; 
    display: inline-block;
    position: fixed; 
    margin-left: 40px;
    height: 98%;
    min-width: 240px;
    width: 20%   
    
  }
  .leftMenu{  
    background-color: #bcbdbd26;
    position: fixed;
    height: 98%;
    padding: 20px
    
  }
  #TMenu{
    display: none !important
  }
  
}

@media(max-width: 980px) {

.MHide{
  display: none !important
}
#MHide{
  display: none !important
}

  .article{
    display: block;
       
  }
  .rightMenu{
    background-color: #bcbdbd26;  
    margin-left: 5px !important;
  }

  .leftMenu{  
    background-color: #F5F5F5;  
    /* width: 176px;
    margin: auto; */
    
    
    z-index: 10;
    padding: 20px
    
  }
}
.greyedDB{
  color: #eae6e6;
  padding: 15px;
  text-align: center;
}

.refreshDB{
  text-align: center;
  cursor: pointer;
  padding: 15px
  
}

.refreshDB:hover{
  color: #00A569;
 
}

.refreshDBspin:hover {
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}

.middleContainer {
  margin-left: 270px
}
.headerSelectable:hover{
  background-color: #E9E9E9 !important
}

.head-vertical-segment{
  position: relative;    
    margin: 0em;    
    padding-top: 20px;
    padding-bottom: 43px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: none;
}


.selectable{  
  color: #eae6e6 !important;
  cursor: pointer;
  padding-left: 0px !important;
  
}

.selectable:hover{
  color: black !important;
  background-color: #bcbdbd26 !important;
  padding-left: 0px !important;
  
}



.leftMenu-main{
  border-bottom: 1px solid #DDDDDD !important;
  padding-bottom: 20px;
}



.rightMenu-header{
  padding-bottom: 20px;
  border-bottom: 1px solid #DDDDDD !important;
}


.articleIcon{
  color: #bcbdbd26 !important;
}

.articleIcon:hover {
  color: black !important
}

.categories {
  background-color: #bcbdbd26 !important;
  border-radius: 4px !important;
  margin: 0.5em -.1em !important;
}

.tableRow {
  padding-left: 10px !important;
  cursor: pointer;
}

.tableRow:hover {
  background-color: rgb(250, 250, 250)!important
}

.tableNewPulse {
  color: #F5F5F5 !important;
}

.tableNewPulse:hover {
  color: black !important;
}

.tableNewDetail {
  color: #eae6e6 !important;
}

.tableNewDetail:hover {
  color: black !important;
}

.blackHover{
  
}

.blackHover:hover {
  color: black !important;
}

.login{
  position: absolute;
  width:  330px;
  
  top: calc(50% - 100px);
  left: calc(50% - 160px);
  padding: 25px;
  
  background-color: #bcbdbd26
}

.settingsUserInfo {
  padding: 3px 3px 3px 0
}

.archivedColor{
  padding-left: 10px;
  cursor: pointer;
  color: rgba(0,0,0,.6) !important
}

.archivedColor:hover{
  padding-left: 10px;
  cursor: pointer;
  color: black !important
}
.archivedColorRed{
  padding-left: 10px;
  cursor: pointer;
  color: #DC6969 !important
}
