@media(min-width: 1080px) {
  .article{
    margin-left: 220px;
    display: inline-block;
    width: calc(80% - 270px);
    
  }

  .rightMenu{
    background-color: #bcbdbd26;  
    margin-left: 40px;
    height: 98%;
    min-width: 240px;
    width: 20%
    
    
  }
}

@media(max-width: 1080px) {
  .article{
    margin-left: 220px;
    display: inline-block;
    width: calc(70% - 270px);    
  }
  .rightMenu{
    background-color: #bcbdbd26;  
    margin-left: 40px !important;;
    height: 98%;
    min-width: 240px;
    width: 30%
    
    
  }
}

.middleContainer {
  margin-left: 270px
}

.head-vertical-segment{
  position: relative;    
    margin: 0em;    
    padding-top: 20px;
    padding-bottom: 43px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: none;
}


.selectable{  
  color: #eae6e6 !important;
  cursor: pointer;
  padding-left: 0px !important;
  
}

.selectable:hover{
  color: black !important;
  background-color: #bcbdbd26 !important;
  padding-left: 0px !important;
  
}

.leftMenu{  
  background-color: #bcbdbd26;
  
}

.leftMenu-main{
  border-bottom: 1px solid #DDDDDD !important;
  padding-bottom: 20px;
}



.rightMenu-header{
  padding-bottom: 20px;
  border-bottom: 1px solid #DDDDDD !important;
}


.articleIcon{
  color: #bcbdbd26 !important;
}

.articleIcon:hover {
  color: black !important
}

.categories {
  background-color: #bcbdbd26 !important;
  border-radius: 4px !important;
  margin: 0.5em -.1em !important;
}

.tableRow {
  padding-left: 10px !important;
  cursor: pointer;
}

.tableRow:hover {
  background-color: rgb(250, 250, 250)!important
}

.tableNewPulse {
  color: #F5F5F5 !important;
}

.tableNewPulse:hover {
  color: black !important;
}

.tableNewDetail {
  color: #eae6e6 !important;
}

.tableNewDetail:hover {
  color: black !important;
}

.blackHover{
  
}

.blackHover:hover {
  color: black !important;
}

.login{
  position: absolute;
  width:  330px;
  
  top: calc(50% - 100px);
  left: calc(50% - 135px);
  padding: 25px;
  
  background-color: #bcbdbd26
}
